:root {
    --menu-width: 10em;
  }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #24303d;
}

#editor{
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    
}

#leftBar{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: var(--menu-width);
}

#middle{
    position: absolute;
    top: 0px;
    left: var(--menu-width);
    right: var(--menu-width);
    margin-left:10px;
    margin-right:10px;
}

#canvas-container{
    position:fixed;
    width: calc(100vw - 2*var(--menu-width) - 40px);
    height: calc(100vh - 100px);
}

#glcanvas{
    width: 100%;
    height: 100%;
}

#form-container{
    color: rgb(67, 23, 57);
    position: relative;
    margin-top: 10px;
}

#rightBar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: var(--menu-width);
}

#img-lib{
    display:none;
}