.form-title{
    height:50px;
    font-size:2em;
    text-align:center;
}

.input-scale{
    margin-left:10px;
    width:30%;
}

.input-scale label{
    width:100px;
}

.input-scale .spinner{
    width:30px;
}

.input-loc{
    margin-left:10px;
    width:30%;
}

.input-loc label{
    width:100px;
}

.input-loc .spinner{
    width:30px;
}

.input-rot{
    margin-left:10px;
    width:30%;
}

.input-rot label{
    width:100px;
}

.input-rot .spinner{
    width:30px;
}

.input-sideNum{
    margin-left:10px;
    width:30%;
}

.input-sideNum label{
    width:100px;
}

.input-sideNum .spinner{
    width:30px;
}

.input-upBottomRatio{
    margin-left:10px;
    width:30%;
}

.input-upBottomRatio label{
    width:100px;
}

.input-upBottomRatio .spinner{
    width:30px;
}

.en-texture{
    margin-left:10px;
    width:100%;
}

.en-texture label{
    width:100px;
}

.input-texture{
    margin-left:10px;
    width:100%;
}

.input-texture label{
    width:100px;
}

.input-texture input{
    width:250px;
}

.input-color{
    width:100%;
}

.input-color label{
    width:100px;
}

.input-color .colorpicker-component{
    width:250px;
}

#basic-form{
    display:none;
}
