.myform{//不能选中文字
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.myform .form-title{
    height:50px;
    font-size:2em;
    text-align:center;
}

.myform .input-title{
    width:100px;
    text-align:left;
}

.myform .input-file{
    width:auto;
}

.myform .input-file .input-file-btn{

}

.myform .input-file .input-file-label{
    display:inline-block;
}

.myform .input-file .input-file-file{
    display:none;
}

.myform .spinner{
    width:30px;
}

.myform .fa-times{
    cursor:pointer;
}




.myform .input-scale{
    margin-left:10px;
    width:30%;
}

.myform .input-loc{
    margin-left:10px;
    width:30%;
}

.myform .input-rot{
    margin-left:10px;
    width:30%;
}

.myform .input-sideNum{
    margin-left:10px;
    width:30%;
}

.myform .input-upBottomRatio{
    margin-left:10px;
    width:30%;
}

.myform .en-texture{
    margin-left:10px;
    width:100%;
}

.myform .input-texture{
    margin-left:10px;
    width:100%;
}

.myform .input-obj{
    margin-left:10px;
    width:100%;
}

.myform .input-color{
    margin-left:10px;
    width:100%;
}

.myform .input-color .colorpicker-component{
    width:200px;
}

.myform .en-light{
    margin-left:10px;
    width:100%;
}



#form-container{
    display:none;
}

#hiddenFile{
    display:none;
}
