.form-title{
    height:50px;
    font-size:2em;
    text-align:center;
}

.input-title{
    width:100px;
    text-align:left;
}

.input-file{
    width:250px;
}

.input-file .input-file-btn{

}

.input-file .input-file-label{
    display:inline-block;
}

.input-file .input-file-file{
    display:none;
}

.spinner{
    width:30px;
}





.input-scale{
    margin-left:10px;
    width:30%;
}

.input-loc{
    margin-left:10px;
    width:30%;
}

.input-rot{
    margin-left:10px;
    width:30%;
}

.input-sideNum{
    margin-left:10px;
    width:30%;
}

.input-upBottomRatio{
    margin-left:10px;
    width:30%;
}

.en-texture{
    margin-left:10px;
    width:100%;
}

.input-texture{
    margin-left:10px;
    width:100%;
}

.input-obj{
    margin-left:10px;
    width:100%;
}

.input-color{
    margin-left:10px;
    width:100%;
}

.input-color .colorpicker-component{
    width:200px;
}

.en-light{
    margin-left:10px;
    width:100%;
}



#form-container{
    display:none;
}

#hiddenFile{
    display:none;
}
